body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
    }
    
    body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    }
    
    header {
    background-color: #333;
    color: #fff;
    text-align: center;

    display: flex;
    align-items: center;
    }
    .logo img {
    max-width: 100px;
    height: auto;
    }
    .header-content {
    text-align: left;
    }
    nav {
    background-color: #444;
    }
    .menu {
    list-style: none;
    display: flex;
    text-align: center;
    padding: 1rem 0;
    }
    .menu li {
    margin: 1rem;
    }
    .menu a {
    color: #fff; 
    text-decoration: none;
    transition: color 0.3s;
    }
    .menu a:hover {
    color: #ff9900;
    }
    .submenu-content {
    display: none;
    position: absolute;
    background-color: #444;
    }
    .submenu:hover .submenu-content {
    display: block;
    }
    main {
    padding: 2rem;
    }
    footer {
    text-align: center;
    padding: 1rem ;
    background-color: #444;
    color: #fff;
    }
    .social-links a {
    color: #fff;
    text-decoration: none;
    margin: 5 rem;
    }
  